.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container header {
    display: flex;
    align-items: center;
    min-height: 5vh;
    background-color: #20232a;
    color: #61dafb;
    padding: 30px 20px;
}

.container header p {
    font-weight: bold;
}

.conteudo_principal { 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.secao_titulo {
    min-height: 30vh;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #282c34;
}

.secao_titulo h1 {
    color: #61dafb;
    font-size: 36px;
}

.secao_titulo p {
    color: #fff;
    font-size: 24px;
}

.secao_titulo a {
    padding: 15px;
    font-weight: 600;
    background-color: #61dafb;
    color: #000;
}
